/* -----------------------------------------------------------------------------

  FONTS
  
----------------------------------------------------------------------------- */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v15-latin-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v15-latin-regular.woff") format("woff"), url("../fonts/roboto-v15-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v15-latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v15-latin-italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v15-latin-italic.woff") format("woff"), url("../fonts/roboto-v15-latin-italic.ttf") format("truetype"), url("../fonts/roboto-v15-latin-italic.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v15-latin-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-700.woff2") format("woff2"), url("../fonts/roboto-v15-latin-700.woff") format("woff"), url("../fonts/roboto-v15-latin-700.ttf") format("truetype"), url("../fonts/roboto-v15-latin-700.svg#Roboto") format("svg");
}

/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ELEMENTS
  
----------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #777;
  background-color: #2B3A42;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

/* -----------------------------------------------------------------------------

  TEXT
  
----------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #555;
  font-weight: 700;
  line-height: 1.2;
}

/* -----------------------------------------------------------------------------

  TEXT
  
----------------------------------------------------------------------------- */
a {
  color: #EB7F00;
  text-decoration: none;
}

a:hover {
  color: #854800;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

p {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------

  MEDIA
  
----------------------------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}

/* -----------------------------------------------------------------------------

  FORMS
  
----------------------------------------------------------------------------- */
input,
textarea,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */
.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1280px;
}

@media all and (min-width: 600px) {
  .container {
    padding: 0 48px;
  }
}

/* -----------------------------------------------------------------------------

  GRID OBJECT
  
----------------------------------------------------------------------------- */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -12px;
}

.grid__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 24px;
  padding: 0 12px;
}

.grid__item:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 480px) {
  .grid--s {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .grid--s .grid__item {
    margin-bottom: 0;
  }
  .grid__item--25-s {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .grid__item--33-s {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .grid__item--50-s {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .grid__item--75-s {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}

@media all and (min-width: 600px) {
  .grid--m {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .grid--m .grid__item {
    margin-bottom: 0;
  }
  .grid__item--25-m {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .grid__item--33-m {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .grid__item--50-m {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .grid__item--75-m {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}

@media all and (min-width: 840px) {
  .grid--l {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .grid--l .grid__item {
    margin-bottom: 0;
  }
  .grid__item--25-l {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .grid__item--33-l {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .grid__item--50-l {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .grid__item--75-l {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}

/* -----------------------------------------------------------------------------

  HEADER
  
----------------------------------------------------------------------------- */
.header {
  padding: 24px 0;
  background-color: #2B3A42;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0 0 24px 0;
  text-align: center;
}

@media all and (min-width: 600px) {
  .header__logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    text-align: left;
  }
}

/* -----------------------------------------------------------------------------

  NAV OBJECT
  
----------------------------------------------------------------------------- */
.nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav__item {
  display: inline-block;
  margin: 0 12px;
  font-size: 22px;
}

.nav__link {
  display: block;
  padding: 0 8px;
  color: #fff;
}

.nav__link--alt {
  color: #EB7F00;
}

.nav__link:hover {
  color: #EB7F00;
  background-color: #fff;
}

.nav__link--alt:hover {
  color: #fff;
  background-color: #EB7F00;
}

@media all and (min-width: 600px) {
  .nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav__items {
    margin: 0 0 0 24px;
    text-align: right;
  }
}

/* -----------------------------------------------------------------------------

  HEADER MAIN OBJECT
  
----------------------------------------------------------------------------- */
/**
 * This is the header on all the main pages, i.e. not the home page.
 */
.header-main {
  padding: 12px 0;
  background-color: #2B3A42;
}

.header-main__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main__user-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__user-avatar {
  margin: 0 24px 0 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
}

.header-main__user-name {
  margin: 0;
  color: #EB7F00;
  font-weight: 300;
}

/**
 * Some modifiers for right side opponent
 */
.header-main__user-details--right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-main__user-details--right > .header-main__user-avatar {
  margin: 0 0 0 24px;
}

/**
 * The logo
 */
.header-main__logo {
  width: 96px;
}

.header-main__logo img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

/* -----------------------------------------------------------------------------

  MAIN
  
----------------------------------------------------------------------------- */
.main {
  padding: 48px 0;
  background-color: #fff;
}

/* -----------------------------------------------------------------------------

  AUTH
  
----------------------------------------------------------------------------- */
.auth {
  margin: 0 auto;
  padding: 48px 0;
  max-width: 720px;
}

.auth__header {
  margin-bottom: 48px;
}

.auth__logo {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: auto;
}

.auth__message {
  margin: 12px 0;
  padding: 12px;
  color: #EB7F00;
  border: solid 1px #3F5765;
}

.auth-form {
  padding: 24px;
  background-color: #3F5765;
}

.auth-form__title {
  margin: 0 0 24px 0;
  color: #EB7F00;
  font-weight: 400;
  text-align: center;
}

.auth-form__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.auth-form__group > label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  color: #BDD4DE;
  font-size: 18px;
  font-weight: 400;
}

.auth-form__group > input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px;
}

.auth-form__group > input:focus {
  box-shadow: 0 0 0 4px #2B3A42;
}

.auth-form__footer {
  text-align: right;
}

.auth__footer {
  margin-top: 24px;
  color: #BDD4DE;
  text-align: center;
}

@media all and (min-width: 600px) {
  .auth-form {
    padding: 48px;
  }
  .auth-form__title {
    margin: 0 0 48px 0;
  }
  .auth-form__group {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 24px;
  }
  .auth-form__group > label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 160px;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
  .auth__footer {
    margin-top: 48px;
  }
}

/* -----------------------------------------------------------------------------

  DASHBOARD
  
----------------------------------------------------------------------------- */
/* stats */
.dashboard-stats {
  margin: 0 0 24px 0;
}

.dashboard-stats__title {
  margin-bottom: 24px;
  color: #EB7F00;
  font-size: 28px;
  font-weight: 400;
}

/* stats entry */
.dashboard-stats-entry__title {
  padding: 12px;
  color: #fff;
  background-color: #EB7F00;
  font-size: 12px;
  font-weight: 400;
}

.dashboard-stats-entry__body {
  padding: 12px;
  background-color: #EFEFEF;
}

.dashboard-stats-entry__stat > span {
  color: #EB7F00;
}

.dashboard-stats__streak {
  color: #BDD4DE;
  font-size: 18px;
}

.dashboard-stats__streak > span {
  color: #EB7F00;
}

/* leaderboard */
/* -----------------------------------------------------------------------------

  EDITOR COMPONENTS
  
----------------------------------------------------------------------------- */
.editor {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 360px;
  font-size: 12px;
}

.editor-form__field {
  margin-bottom: 12px;
}

.editor__notes {
  margin-top: 12px;
  padding: 12px;
  border: solid 1px #BDD4DE;
}

/* -----------------------------------------------------------------------------

  BATTLE
  
----------------------------------------------------------------------------- */
.battle-waiting {
  text-align: center;
}

.battle-waiting__buttons {
  margin: 48px 0;
}

.battle-waiting__timer h3 {
  margin: 0 0 12px 0;
}

.battle-waiting__timer span {
  color: #EB7F00;
}

.battle-waiting__loading {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

/*  */
.battle-description {
  margin-bottom: 24px;
}

.battle-description__title {
  margin-bottom: 4px;
}

/* -----------------------------------------------------------------------------

  BUTTONS
  
----------------------------------------------------------------------------- */
.btn {
  display: inline-block;
}

.btn--primary {
  color: #fff;
  background-color: #3F5765;
}

.btn--primary:not(:disabled):hover {
  background-color: #2B3A42;
}

.btn--primary.active {
  background-color: #EB7F00;
}

.btn--secondary {
  color: #fff;
  background-color: #EB7F00;
}

.btn--secondary:not(:disabled):hover {
  background-color: #854800;
}

.btn:disabled {
  opacity: 0.3;
}

.btn--medium {
  padding: 8px 18px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 24px;
  font-size: 18px;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn:focus {
  outline: none;
}

@media all and (min-width: 840px) {
  .btn--medium {
    padding: 12px 36px;
    font-size: 18px;
  }
  .btn--large {
    padding: 15px 48px;
    font-size: 22px;
  }
}

/* -----------------------------------------------------------------------------

  TEXT
  
----------------------------------------------------------------------------- */
.lead {
  color: #3F5765;
  font-size: 18px;
  text-align: center;
}

@media all and (min-width: 600px) {
  .lead {
    font-size: 22px;
  }
}

@media all and (min-width: 840px) {
  .lead {
    font-size: 28px;
  }
}

@media all and (min-width: 1080px) {
  .lead {
    font-size: 36px;
  }
}

/* -----------------------------------------------------------------------------

  SPINNER
  
----------------------------------------------------------------------------- */
.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #2B3A42;
}

.spinner {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 96px;
  height: 96px;
}

.spinner::before,
.spinner::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
}

.spinner::before {
  border-top: solid 18px #3F5765;
  border-bottom: solid 18px #3F5765;
  border-left: solid 18px transparent;
  border-right: solid 18px transparent;
  border-radius: 48px;
  -webkit-animation: spinner-2 1s infinite ease;
          animation: spinner-2 1s infinite ease;
}

.spinner::after {
  width: 24px;
  height: 24px;
  background-color: #EB7F00;
  border-radius: 18px;
}

@-webkit-keyframes spinner-2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
