<!DOCTYPE html>
<html ng-app='battlescript'>
  <head>
    <meta charset="utf-8" />
    <title>BattleScript</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <script src="/socket.io/socket.io.js"></script>

    <script src="plugins/ace/ace.js"></script>
    <script src="plugins/ace/mode-javascript.js"></script>
    <script src="plugins/ace/theme-monokai.js"></script>
    <script src="plugins/ace/worker-javascript.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
  </head>
  <body>

    <div class="container">

      <div class="header">
        <h1 class="header__title">BattleScript</h1>
        <div class='navigation' ng-show="signedIn">
          <ul class="navigation__items">
           <!--  <li class="navigation__item"><a class='' ng-click="seeFavorites = !seeFavorites" ng-controller="SearchController">Toggle Faves</a></li> -->
            <li class="navigation__item"><a href='/#/logout' class='logout' ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
      
      <div class="container--pad">
        <div ng-view ng-show="true"></div>
      </div>

      <footer class="footer">
        Fuck Yeah Productions
      </footer>

    </div>

    <script src="app/services/services.js"></script>
    <script src="app/auth/auth.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/duel/duel.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
