/* -----------------------------------------------------------------------------

  EDITOR COMPONENTS
  
----------------------------------------------------------------------------- */

.editor {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 360px;
  font-size: $font-size--xsmall;
}

.editor-form__field {
  margin-bottom: 12px;
}

.editor__notes {
  margin-top: 12px;
  padding: 12px;
  border: solid 1px $color--theme-blue-light;
}

/* code mirror theme overrides */

.cm-s-material {
  background-color: $color--theme-blue-dark;
}
.cm-s-material .CodeMirror-gutters {
  background: $color--theme-blue-dark;
}