/* -----------------------------------------------------------------------------

  BATTLE
  
----------------------------------------------------------------------------- */

.battle-waiting {
  text-align: center;
}

.battle-waiting__opp {

}

.battle-waiting__buttons {
  margin: 48px 0;
}

.battle-waiting__timer h3 {
  margin: 0 0 12px 0;
}

.battle-waiting__timer span {
  color: $color--theme-orange;
}

.battle-waiting__loading {
  font-size: $font-size--xxlarge;
  font-weight: 700;
  text-align: center;
}

/*  */

.battle-field__header {
  margin-bottom: 24px;
  padding: 4px 0;
  text-align: center;
  border-bottom: solid 2px $color--theme-blue-mid;
}

.battle-field__header p {
  margin: 0;
  color: $color--theme-orange;
  font-size: $font-size--large;
}

.battle-field__header span {
  display: inline-block;
  margin: 0 24px;
  color: $color--theme-blue-light;
  font-style: italic;
}