/* -----------------------------------------------------------------------------

  DASHBOARD
  
----------------------------------------------------------------------------- */

.dashboard {

}

/* stats */

.dashboard-stats {
  margin: 0 0 24px 0;
  padding: 24px;
  background-color: $color--theme-blue-dark;
}

.dashboard-stats__title {
  margin-bottom: 24px;
  color: #fff;
  font-size: $font-size--xlarge;
  font-weight: 400;
}

@media all and (min-width: 600px) {

  .dashboard-stats {
    padding: 48px;
  }

}

/* stats entry */

.dashboard-stats-entry {
}

.dashboard-stats-entry__title {
  padding: 12px;
  color: #fff;
  background-color: $color--theme-orange;
  font-size: $font-size--xsmall;
  font-weight: 400;
}

.dashboard-stats-entry__body {
  padding: 12px;
  background-color: $color--theme-blue-mid;
}

.dashboard-stats-entry__stat {
  color: #fff;
}

.dashboard-stats-entry__stat > span {
  color: $color--theme-orange;
}


.dashboard-stats__streak {
  color: $color--theme-blue-light;
  font-size: $font-size--medium;
}

.dashboard-stats__streak > span {
  color: $color--theme-orange;
}

/* leaderboard */

.dashboard-leaderboard {
  padding: 12px;
}