/* -----------------------------------------------------------------------------

  BATTLE
  
----------------------------------------------------------------------------- */

.battle-waiting {
  text-align: center;
}

.battle-waiting__opp {

}

.battle-waiting__buttons {
  margin: 48px 0;
}

.battle-waiting__timer h3 {
  margin: 0 0 12px 0;
}

.battle-waiting__timer span {
  color: $color--theme-orange;
}

.battle-waiting__loading {
  font-size: $font-size--xxlarge;
  font-weight: 700;
  text-align: center;
}

/*  */

.battle-field__header {
  margin-bottom: 24px;
  padding: 12px 0;
  text-align: center;
  background-color: $color--theme-grey-light;
}

.battle-field__header > h1 {
  margin-bottom: 12px;
  color: $color--theme-orange;
}

.battle-field__header > p {
  font-size: $font-size--large;
}