/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 0 48px;
  max-width: 1280px;
}