/* -----------------------------------------------------------------------------

  MAIN
  
----------------------------------------------------------------------------- */

.main {
  padding: 48px 0;
}