@import "config.variables";





/* -----------------------------------------------------------------------------

  FONTS
  
----------------------------------------------------------------------------- */

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oxygen/oxygen-v5-latin-300.eot');
  src: local('Oxygen Light'), local('Oxygen-Light'),
       url('../fonts/oxygen/oxygen-v5-latin-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-300.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-300.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-300.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-300.svg#Oxygen') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxygen/oxygen-v5-latin-regular.eot');
  src: local('Oxygen'), local('Oxygen-Regular'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.svg#Oxygen') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oxygen/oxygen-v5-latin-700.eot');
  src: local('Oxygen Bold'), local('Oxygen-Bold'),
       url('../fonts/oxygen/oxygen-v5-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-700.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-700.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-700.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-700.svg#Oxygen') format('svg');
}





/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}





/* -----------------------------------------------------------------------------

  ELEMENTS
  
----------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $color--neutral;
  background-color: #fff;
  font-family: $font-family--primary;
  font-size: $font-size--small;
  line-height: $line-height--medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--neutral-dark;
  font-weight: 700;
  line-height: $line-height--small;
}

a {
  color: $color--theme-orange;
  text-decoration: none;
}

a:hover {
  color: darken($color--theme-orange, 20%);
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}





/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 0 48px;
  width: 1200px;
}





/* -----------------------------------------------------------------------------

  GRID OBJECT
  
----------------------------------------------------------------------------- */

.grid {
  display: flex;
  margin: 0 -12px;
}

.grid__item {
  flex-flow: row nowrap;
  padding: 0 12px;
}

.grid__item--25 {
  flex: 0 0 25%;
}

.grid__item--50 {
  flex: 0 0 50%;
}





/* -----------------------------------------------------------------------------

  HEADER
  
----------------------------------------------------------------------------- */

.header {
  padding: 24px 0;
  background-color: $color--theme-blue-dark;
}

.header__inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}





/* -----------------------------------------------------------------------------

  NAV OBJECT
  
----------------------------------------------------------------------------- */

.nav {
  flex: 1;
}

.nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav__item {
  display: inline-block;
  margin: 0 0 0 24px;
  font-size: $font-size--large;
  font-weight: 700;
}

.nav__link {
  display: block;
  padding: 0 8px;
  color: #fff;
}

.nav__link--alt {
  color: $color--theme-orange;
}

.nav__link:hover {
  color: $color--theme-orange;
  background-color: #fff;
}

.nav__link--alt:hover {
  color: #fff;
  background-color: $color--theme-orange;
}





/* -----------------------------------------------------------------------------

  HEADER MAIN OBJECT
  
----------------------------------------------------------------------------- */

/**
 * This is the header on all the main pages, i.e. not the home page.
 */

.header-main {
  padding: 12px 0;
  background-color: $color--theme-blue-dark;
}

.header-main__inner {
  display: flex;
  align-items: center;
}

.header-main__user {
  flex: 1;
}

.header-main__user-details {
  display: flex;
  align-items: center;
}

.header-main__user-avatar {
  margin: 0 24px 0 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
}

.header-main__user-name {
  margin: 0;
  color: $color--theme-orange;
  font-weight: 300;
}

/**
 * Some modifiers for right side opponent
 */

.header-main__user-details--right {
  justify-content: flex-end;
}

.header-main__user-details--right > .header-main__user-avatar {
  margin: 0 0 0 24px;
}

/**
 * The logo
 */

.header-main__logo {
  width: 96px;
}

.header-main__logo img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}





/* -----------------------------------------------------------------------------

  MAIN
  
----------------------------------------------------------------------------- */

.main {
  padding: 48px 0;
}





/* -----------------------------------------------------------------------------

  EDITOR COMPONENTS
  
----------------------------------------------------------------------------- */

.editor {
  height: 360px;
}

.editor--opponent {
  height: 180px;
}





/* -----------------------------------------------------------------------------

  TEXT
  
----------------------------------------------------------------------------- */

.lead {
  margin: 0 48px;
  font-size: $font-size--xlarge;
  text-align: center;
}