<div class="header-main">
  <div class="container">
    <div class="header-main__inner">

      <div class="header-main__logo">
        <a href="#/"><img src="assets/img/logo.svg" alt=""></a>
      </div>

      <div class="header-main__user">
        <a href="#" class="header-main__user-details">
          <div class="header-main__user-avatar">
            <img src="assets/img/avatar.svg">
          </div>
          <h3 class="header-main__user-name">Nick Salloum</h3>
        </a>
      </div>

    </div><!-- /header inner -->
  </div><!-- /container -->
</div><!-- /header main -->

<main class="main">
  <div class="container">
    <div class="dashboard">

      <div class="dashboard-notification">
        <h2 class="dashboard-notification__title">Username challenged you!</h2>
        <button>accept</button>
        <button>decline</button>
      </div>

      <div class="dashboard-stats">
        <h1 class="dashboard-stats__title">Welcome back, Nick!</h1>

        <div class="grid grid--l">
          <div class="grid__item grid__item--33-l">
            <div class="dashboard-stats-entry">
              <h3 class="dashboard-stats-entry__title">Current Streak</h3>
              <div class="dashboard-stats-entry__body">
                <p class="dashboard-stats-entry__stat"><span>2</span> wins</p>
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--33-l">
            <div class="dashboard-stats-entry">
              <h3 class="dashboard-stats-entry__title">Longest Streak</h3>
              <div class="dashboard-stats-entry__body">
                <p class="dashboard-stats-entry__stat"><span>5</span> wins</p>
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--33-l">
            <div class="dashboard-stats-entry">
              <h3 class="dashboard-stats-entry__title">All Time</h3>
              <div class="dashboard-stats-entry__body">
                <p class="dashboard-stats-entry__stat"><span>22</span> wins, <span>2005</span> points</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid--m">
        <div class="grid__item grid__item--50-m">
          <div class="dashboar-widget dashboard-leaderboard">
            <h2 class="dashboar-widget__title">Leaderboard</h2>
          </div><!-- /dashboar widget -->
        </div><!-- /grid item -->
        <div class="grid__item grid__item--50-m">
          <div class="dashboar-widget dashboard-online">
            <h2 class="dashboar-widget__title">Online Now</h2>
            <ul class="dashboard-online__list">
              <li class="dashboard-online__item" ng-repeat="(key, value) in onlineUsers">
                <span>{{ value.username }}</span>
                <span>Rank: (1)</span>
                <span><a href="#" ng-click="requestBattle($event, value.username)">Challenge?</a></span>
              </li>
            </ul>
          </div><!-- /dashboar widget -->
        </div><!-- /grid item -->
      </div><!-- /grid -->

    </div><!-- dashboard -->
  </div><!-- /container -->
</main><!-- /main -->